fastapi
uvicorn[standard]
sqlalchemy
asyncpg
alembic
pgvector
python-jose[cryptography]
passlib[bcrypt]
python-multipart
langchain
langchain-community
yandex-chain
yandexcloud>=0.250.0
grpcio
requests
python-dotenv
pydantic-settings
email-validator
hypothesis==6.92.1
